.skill {
  &:nth-child(2n) {
    color: #9e0000;
  }

  white-space: nowrap;
}

.table {
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0.25em;
    background-color: hsl(0, 0%, 60%);
  }

  tbody {
    tr:not(:first-child) {
      border-top: 2px solid gray;
    }
    td:not(:first-child) {
      border-left: 2px dashed lightgray;
    }
    tr:hover {
      background-color: hsl(25, 100%, 90%);
    }
  }

  td {
    padding: 0.25em;
    text-align: center;
  }
}