.skill {
  &:nth-child(2n) {
    color: #9e0000;
  }

  white-space: nowrap;
}

.table {
  thead {
    position: sticky;
    top: 0.25em;
    background-color: hsl(0, 0%, 60%);
  }

  tr:nth-child(2n) {
    background-color: hsl(0, 0%, 90%);
  }

  td {
    padding: 0.25em;
    text-align: center;
  }
}